<a class="outerSearch block-views mb-3 discoveryExternal" href="/discoveryplaceholder" target="_blank">
  <div class="extsearchText">
    <span class="extVerb">Search in</span>
    <span class="extType">Discovery</span>
  </div>
  <i class="fas fa-external-link"></i>
</a>
<a class="outerSearch block-views mb-3 catalogExternal" href="https://lsu.ent.sirsi.net/client/en_US/lsu/search/results?user_id=&qu=term&rt=Keyword&qf=ALL"  target="_blank">
  <div class="extsearchText">
    <span class="extVerb">Search in</span>
    <span class="extType">Catalog</span>
  </div>
  <i class="fas fa-external-link"></i>
</a>
 
 <div id="one-search-filters" class="block-views views-element-container">
    <div class="content">
      <div>
        <div class="bentoColumn">
          <div class="view-header">
            <div class="bentoTop">
              <div class="bentoTitle">
                <h2>Filters</h2>
              </div>
            </div>
          </div>

          <div class="view-content row">
            <div id="one-search-filters-options" class="views-row">
              {# The options will be generated via JS #}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
