<form id="one-search" class="one-search-form masterBento" action="{{ action }}" method="get" hx-boost="true">
  <input id="edit-search-api-fulltext-bento" type="text" name="{{ filter_identifier }}" placeholder="{{ placeholder }}" class="one-search-input form-control" value="{{ app.request.query.get(filter_identifier) }}" />
  <button id="bentoSubmit" type="submit" class="one-search-btn button js-form-submit form-submit btn"><i class="fas fa-search"></i></button>
</form>