<div id="one-search-summary" class="bentoResult">
    <div class="resQuery">
        <div class="resTerm">
        <i class="fas fa-search"></i>
        <span id="one-search-term" class="bntGroup">x</span>
        </div>
        <div class="resNumber">
        <span id="one-search-total" class="bentoTotal">#</span> results
        </div>
    </div>
    <div class="resOptions">
   
        <div class="highlightSelect themeSelect">
        <input class="btn-check" type="checkbox" id="highlightMode">
        <label class="toggleIcon" for="highlightMode" data-bs-toggle="tooltip" title="Highlight search term">
            <span class="switchIcon"><i class="fad fa-highlighter"></i></span>
        </label>
        </div>

        <div class="largeSelect themeSelect">
        <input class="btn-check" type="checkbox" id="largeMode">
        <label class="toggleIcon" for="largeMode" data-bs-toggle="tooltip" title="Large text mode">
            <span class="switchIcon"><i class="fad fa-text-size"></i></span>
        </label>
        </div>

        <div class="columnSelect themeSelect">
        <input class="btn-check" type="checkbox" id="columnMode">
        <label class="toggleIcon" for="columnMode" data-bs-toggle="tooltip" title="Column mode">
            <span class="switchIcon"><i class="fas fa-th-list"></i></span>
        </label>
        </div>

        <div class="hidesidebarSelect themeSelect">
        <input class="btn-check" type="checkbox" id="hidesidebarMode">
        <label class="toggleIcon" for="hidesidebarMode" data-bs-toggle="tooltip" title="" data-once="tooltip-init" data-bs-original-title="Toggle sidebar menu">
            <span class="switchIcon rotated"><i class="fad fa-window-maximize"></i></span>
        </label>
        </div>

        <div class="darkSelect themeSelect">
        <input class="btn-check" type="checkbox" id="darkMode">
        <label class="toggleIcon" for="darkMode" data-bs-toggle="tooltip" title="Dark mode">
            <span class="switchIcon"><i class="fas fa-moon-stars"></i></span>
        </label>
        </div>
    </div>
</div>